/* Estilos personalizados para el campo de fechas */
#checkin,
#checkout {
    padding: 10px;
    /* Mayor padding */
    border-radius: 6px;
    /* Bordes redondeados */
    background-color: #f9f9f9;
    color: #333;
}

/* Personalización del día activo en el calendario de Flatpickr */
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
    background-color: #ff7f50 !important;
    /* Color de fondo naranja */
    color: #fff !important;
    /* Texto blanco para mejor visibilidad */
    border-radius: 50%;
    /* Bordes redondeados */
}

.flatpickr-day:hover {
    background-color: #ffa07a !important;
    /* Color naranja suave en hover */
    color: #fff;
    box-shadow: 1px 1px 9px lightgray;
}